* {
    margin: 0;
    padding: 0;
}

h3, p {
    margin: 1em 0;
}

p {
    font-size: 14px;
}

body { 
    font-family: 'Open Sans', sans-serif;
    padding: 1.5em;
}

.filter-button {
    width:40px;
    height:40px;
    display: inline;
    vertical-align: middle;
    border: none;
    margin: 5px;
    background:none;
}

.all {
    border: 5px solid transparent;
    background: #04AA6D;
    color: white;
}

.is-active {
    outline: 5px solid #87f94c;
}

.filter-button:hover, .all:hover{
    outline: 5px solid #f4ce34;
}

.board {
    position:relative;
    border:1px solid grey;
    background-image:
    repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
}

.sends {
    height: 70px;
    margin-bottom: 25px;
}

.leaks {
    height: 70px;
    margin-bottom: 25px;
}

.board img {
    display:block;
    margin:0;
    padding:0;
    position:absolute;

}

.column {
    float: left;
    margin-right:40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

.columnText {
    padding: 1em;
}

.row h3 {
    overflow-wrap: break-word;
    margin: 0 0 1em 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1em;
    max-width: 1300px;
    margin-bottom: 1em;
}

.leakpercent span {
    font-size: 36px;
    font-weight: 700;
}