body {
    background-color: black;
    color: white;
  }

* {
    margin: 0;
    padding: 0;
}

main { 
    width:1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: rgb(0, 150, 250);
    text-decoration: none;
}

a:hover {
    background: #cdfeaa;
    color: #111;
  }

h1 {
    font-size: 36px;
    margin: 12px 0;
}

h3, p {
    margin: 1em 0;
}

p {
    font-size: 14px;
}

body { 
    font-family: 'Montserrat', sans-serif;
    padding: 1.5em;
}

.filter-button {
    width:40px;
    height:40px;
    display: inline;
    vertical-align: middle;
    border: none;
    margin: 5px;
    background:none;
    transition: 0.2s;
}

.all {
    border: 5px solid transparent;
    background: #04AA6D;
    color: white;
}

.is-active {
    outline: 5px solid #87f94c;
}

.filter-button:hover, .all:hover{
    outline: 5px solid #f4ce34;
}

.board {
    position:relative;
    background-image:
    repeating-linear-gradient(rgb(38, 38, 38) 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, rgb(38, 38, 38) 0 1px, transparent 1px 100%);
}

.sends {
    height: 70px;
    margin-bottom: 25px;
}

.leaks {
    height: 70px;
    margin-bottom: 25px;
}

.board img {
    display:block;
    margin:0;
    padding:0;
    position:absolute;

}

.column {
    float: left;
    margin: 0 2em 2em 0;
    }

.columnText {
    padding: 1em 0 ;
}

div.row > div:nth-child(6) {
    margin: 0 0 2em 0;
}

.row h3 {
    overflow-wrap: break-word;
    margin: 0 0 1em 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 5px;
}

.leakpercent span {
    font-size: 36px;
    font-weight: 700;
}